#title {
	position: relative;
	animation: anime1 3s linear 0s 1 normal;
}

@keyframes anime1 {
	0% { top: -32rem; }
	10% { top: -27rem; }
	20% { top: -20rem; }
	30% { top: -11rem; }
	40% { top: -0rem; }
	45% { top: -1.75rem; }
	50% { top: -3rem; }
	55% { top: -3.75rem; }
	60% { top: -4rem; }
	65% { top: -3.75rem; }
	70% { top: -3rem; }
	75% { top: -1.75rem; }
	80% { top: 0rem; }
	85% { top: -0.75rem; }
	90% { top: -1rem; }
	95% { top: -0.75rem; }
	100% { top: 0rem; }
}
